<div class="up-item">
    <div class="shopping-card">
        <i class="flaticon-bag"></i>
        <span>@ViewBag.SumSL</span>
    </div>
    <a href="@Url.Content("/Cart/Cart")">Shopping Cart</a>
</div>
