@{
    ViewBag.Title = "LogIn";
}
<link href="~/css/login.css" rel="stylesheet" />
<div style="background: url(../images/tmdt3.png) no-repeat;">

</div>
<div class="containerLG">
    <div class="row">
        <h4> <i class="flaticon-l" style="margin-left: 500%;padding-top: 23px; color: white"></i></h4>
        <h3 style="padding-top: 20px;margin-left: 30%; padding-bottom: 20px"> Đăng Nhập</h3>
    </div>
    <form>
        <div class="form-group">
            <input type="email" class="form-control" id="userid" aria-describedby="emailHelp"
                   placeholder="Nhập tên người dùng">
        </div>
        <div class="form-group">
            <input type="password" class="form-control" id="password" placeholder="Mật khẩu">
        </div>
        <div class="form-group form-check">
        </div>
    </form>
    <div class="row">
        <button type="button" id="btnEnter" class="btn btn-primary" onclick="LogIn()">Đăng Nhập</button>
    </div>
    <div class="row">
        <div class="support">
            <div class="row pl-2 pb-2 pt-1">
                <div class="col-6">
                    <div class="login_sublink">
                        <a href="">
                            Quên mật khẩu?
                        </a>
                    </div>
                </div>
                <div class="col-6">
                    <div class="register">
                        <a href="">
                            Đăng kí
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    function LogIn() {
        var data = {
            "userid": $("#userid").val(),
            "password": $("#password").val()
        };
        $.ajax({
            url: "/Home/ValidateUser",
            type: "POST",
            data: JSON.stringify(data),
            dataType: "json",
            contentType: "application/json",
            success: function (response) {
                if (response.Success) {
                    if (response.Success == "Admin")
                    {
                        document.location.href = "/Admin";
                    }
                    else
                    {
                        document.location.href = "/Home/index";
                    }
                    
                }
                else {
                    alert("Sai tên đăng nhập hoặc password");
                    window.location.href = "@Url.Action("Login", "Home")";
                }
            },
            error: function () {
                console.log('Login Fail!!!');
            }
        });
    }
    $("#userid").keyup(function (event) {
        if (event.keyCode == 13) {
            $("#btnEnter").click();
        }
    });
    $("#password").keyup(function (event) {
        if (event.keyCode == 13) {
            $("#btnEnter").click();
        }
    });
</script>
